
.body{
    overflow: hidden;
    user-select: none;
    touch-action: none;
    height: 100%; 
    margin: auto;
    /* margin: 20px !important; */
}
.hearder {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 3px 30px;
    
    background-color: #f0f0f0;
    position:fixed;
    width: 95%;
    
  }
.logo {
    max-height: 50px;
}

.sidenavbar {
background-color: #6c6b6b; 
color: white; 
width: 200px; 
height: 100%; 
margin-top: 5rem;
padding-top: 50px;
position: fixed; 
}
.navbar {
    padding: 0;
    margin: 0;
}
/* .navbar li {
      padding: 10px 20px;
}
   */
.navbar li {
    color: white;
    font-size: 25px;
    border: #333;
    display: block; 
    padding: 25px;
    cursor: pointer;
}
.main-content {
    margin-left: 200px; 
    /* padding: 20px; */
}
.about{
  
    margin-top: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: fixed;
    overflow: hidden;
    padding: 10rem;
    margin-left: 10rem;
 }
 .about h1{
  font-size: 32px;
 }
 .btn{
    padding:20px;
   width: 8rem;
    background-color: #f0f0f0;
    border-radius: 35px;
  }
  .btn :hover{
    color: rgb(101, 102, 102);
  }
.card {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 18rem; 
    width: 23rem; 
    border: 3px solid #ccc; 
    padding: 20px;
    margin-left:15%; 
    margin-top:5%;
    background-color: grey;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    gap: 20px; 
  
  }
  
  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .card-section {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
  }
.profile{
    margin-left: 15rem;
    padding-top:5rem;
}
.profile_department{
  display: flex;
  flex-wrap: wrap;
  border: #333;
  padding: 15px;
  gap:12px
}
.profile_department button{
  padding: 35px;
  border-radius:55px;
  width: 15rem;
  font-size: 15px;
}


.dashboard {
  padding: 10rem;
  margin-left: 10rem;
  padding-bottom: 2rem;
  padding-top: 10rem;
  overflow: hidden;
}

.department {
  margin-bottom: 20px;

}

.department h2 {
  color:rgb(10, 10, 10);
}
.courses{
  margin-left:5rem;
}

.students {
  margin-left: 5px;

}

.student {
  background-color: grey;
  margin-left: 5rem;
  margin-top:4rem;
  margin-right: 5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 55px;
}

.student h3 {
  color:rgb(10, 10, 10);
}
.banner {
  margin-left: 5px;
}

.mark {
  background-color: grey;
  margin-left: 5rem;
  margin-top:4rem;
  margin-right: 5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 55px;
  
}
.mark h3 {
  color:rgb(10, 10, 10);
}

.admission{
  padding-top: 10rem;
  padding-left: 5rem;
}
form{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    padding-left: 20%;
}
.form-top{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}
 input{
    padding: 10px;
    background: transparent;
    margin-bottom: 30px;
    color:rgb(26, 25, 25);
    border: none;
    box-shadow: 0 1px 0 0 var(--color-border);
    transition:ease-in-out;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}
/* input[type="radio"]{
  display: inline;
  width: 5%;
} */
.form-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: white;
}
.form-bottom textarea{
    width: 100%;
    height: 100px;
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 17px;
 
}
.form-bottom button{
  padding: 25px;
  color:white;
  border-radius: 32px;
  background-color:grey;
  border: grey;
}
.download{
  margin-top: 65rem;
  margin-left:35rem;
  margin-right:45rem;
  align-items: center;
  padding: 12px;
  color:white;
  border-radius: 32px;
  background-color:grey;
  border: grey;
}

/* .paragraph{
  margin-left:2rem;
} */
.paragraph p {
  padding-top: 5rem;
  font-size: 25px;
  text-align: center;
  padding-left:15%;
  padding-right: 15%;
}
.paragraph h2 {
  padding:80px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  color:grey;
}
.paragraph button{
  padding: 25px;
  margin-left: 19rem;
  margin-top: 10px;
  color:white;
  border-radius: 32px;
  background-color: #333;
}
.paragraph button:hover{
  background-color:grey;
  border: grey;
}

.steps{
  margin-top:5rem;
  display: flex;
  align-items: center;
  margin-left: 8rem;
  /* justify-content: space-around; */
  flex-wrap: wrap; 
}
.steps-card{
  display:grid;
    justify-content: center; 
    align-items: center; 
    height: 20rem; 
    width: 10rem; 
    border: 3px solid black; 
    border-radius: 25px;
    padding: 10px;
    margin-left:5rem; 
    font-size: 25px;
    text-align: center;
    /* margin-top:5%; */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    /* gap: 20px;  */
  
}
.steps-card img {
  margin-left:8px;
  width: 100%; 
  height: auto; 
  max-width: 100px; 
  max-height: 100px;  
  object-fit: cover;  
}
/* .section{
  background-color:rgb(159, 139, 139); 
  width: 200px; 
   
  margin-top: 5rem;
  margin-bottom:5rem;
  padding-top: 50px;
  /* padding-bottom: 50px; */
  /* position: fixed; 
}
.section li {
  color: white;
  
  font-size: 25px;
  border: #333;
  display: block;
  
  cursor: pointer;
  transition:ease-in-out;
  margin-bottom: 4rem;
}  */








